<a href="https://colab.research.google.com/github/aliciawill/python-data/blob/master/jsontocsv_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
student_data = {
    "1.FirstName": "Gildong",
    "2.LastName": "Hong",
    "3.Age": 20, 
    "4.University": "Yonsei University",
    "5.Courses": [
        {
            "Major": "Statistics", 
            "Classes": ["Probability", 
                        "Generalized Linear Model", 
                        "Categorical Data Analysis"]
        }, 
        {
            "Minor": "ComputerScience", 
            "Classes": ["Data Structure", 
                        "Programming", 
                        "Algorithms"]
        }
    ]
}

In [2]:
import pandas as pd
import numpy as np

In [3]:
import json

In [5]:
st_json = json.dumps(student_data)

print(st_json)

{"1.FirstName": "Gildong", "2.LastName": "Hong", "3.Age": 20, "4.University": "Yonsei University", "5.Courses": [{"Major": "Statistics", "Classes": ["Probability", "Generalized Linear Model", "Categorical Data Analysis"]}, {"Minor": "ComputerScience", "Classes": ["Data Structure", "Programming", "Algorithms"]}]}

In [26]:
json = pd.read_json('/content/student_json')
json

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Yonsei University,"{'Major': 'Statistics', 'Classes': ['Probabili..."
1,Gildong,Hong,20,Yonsei University,"{'Minor': 'ComputerScience', 'Classes': ['Data..."

In [7]:
a = [12, 55, 34, 77, 100, 67, 3]

In [23]:
#row = 10
b = []
for x in json['3.Age']: #year
  result = ''
  if(x > 50):
    result = '중년'
  elif(x > 20):  
    result = '청년'
  else: 
    result = '소년'
  b.append(result)
b

['중년', '소년']

In [27]:
json.drop(columns=['4.University', '5.Courses'], inplace=True)

In [28]:
json

  1.FirstName 2.LastName  3.Age
0     Gildong       Hong     20
1     Gildong       Hong     20

In [29]:
json2 = json.copy()

In [30]:
json2.iloc[0, 2] = 60

In [ ]:
def call():
  b = []
  for x in json['3.Age']: #year
    result = ''
    if(x > 50):
      result = '중년'
    elif(x > 20):  
      result = '청년'
    else: 
      result = '소년'
    b.append(result)
  return b

In [24]:
json2['4. result'] = df.apply(call, )

In [25]:
json2

  1.FirstName 2.LastName  3.Age 4. result
0     Gildong       Hong     60        중년
1     Gildong       Hong     20        소년

In [31]:
import pandas as pd

data = [

['2021-01-01', 1],

['2021-02-01', 2],

['2021-03-01', 3],

['2021-04-01', 4],

['2021-05-01', 5],

['2021-06-01', 6],

['2021-07-01', 7],

]

 

df = pd.DataFrame(data, columns=['Date', 'Value'])

df['Date'] = pd.to_datetime(df['Date'])

In [32]:
df

        Date  Value
0 2021-01-01      1
1 2021-02-01      2
2 2021-03-01      3
3 2021-04-01      4
4 2021-05-01      5
5 2021-06-01      6
6 2021-07-01      7

In [41]:
df['result'] = 0

In [42]:
df

        Date  Value  result
0 2021-01-01      1       0
1 2021-02-01      2       0
2 2021-03-01      3       0
3 2021-04-01      4       0
4 2021-05-01      5       0
5 2021-06-01      6       0
6 2021-07-01      7       0

In [38]:
result2 =df.query("Date >= '2021-02-01' and Date <='2021-05-01'")

In [40]:
df[df['Date'] > '2021-05-01']

        Date  Value
5 2021-06-01      6
6 2021-07-01      7

In [51]:
result2 = ['상반기', '중반기', '하반기']
index_result = []
index1 = df[(df['Date'] >= '2021-01-01') & (df['Date'] < '2021-03-01')].index
index2 = df[(df['Date'] >= '2021-03-01') & (df['Date'] < '2021-05-01')].index
index3 = df[(df['Date'] >= '2021-05-01') & (df['Date'] < '2021-12-31')].index
for x in index1:
  df.loc[x, 'result'] = result2[0]
for x in index2:
  df.loc[x, 'result'] = result2[1]
for x in index3:
  df.loc[x, 'result'] = result2[2]
df['result']

0    상반기
1    상반기
2    중반기
3    중반기
4    하반기
5    하반기
6    하반기
Name: result, dtype: object

2021-01-01 00:00:00
2021-02-01 00:00:00
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00

In [52]:
df = pd.DataFrame(np.random.randn(5, 3),
    columns=['C1', 'C2', 'C3'])

In [55]:
df.loc[0, 'C2'] = np.nan
df.loc[1, 'C1'] = np.nan

In [56]:
df

         C1        C2        C3
0 -0.032307       NaN -1.485736
1       NaN -0.715301 -0.212975
2 -0.522750 -0.220822 -1.054652
3 -0.209119 -0.463354 -0.047333
4  1.803022 -0.062598 -0.214732

In [57]:
df2 = df.fillna(0)
df2

         C1        C2        C3
0 -0.032307  0.000000 -1.485736
1  0.000000 -0.715301 -0.212975
2 -0.522750 -0.220822 -1.054652
3 -0.209119 -0.463354 -0.047333
4  1.803022 -0.062598 -0.214732

In [68]:
a = 'C1'
df[a]

0   -0.032307
1         NaN
2   -0.522750
3   -0.209119
4    1.803022
Name: C1, dtype: float64

In [69]:
df.columns

Index(['C1', 'C2', 'C3'], dtype='object')

In [70]:
b = list(df.columns)
b

['C1', 'C2', 'C3']

In [72]:
for x in b:
  pre = x[0]
  print(df[pre + "1"])

0   -0.032307
1         NaN
2   -0.522750
3   -0.209119
4    1.803022
Name: C1, dtype: float64
0   -0.032307
1         NaN
2   -0.522750
3   -0.209119
4    1.803022
Name: C1, dtype: float64
0   -0.032307
1         NaN
2   -0.522750
3   -0.209119
4    1.803022
Name: C1, dtype: float64

In [73]:
for x in range(3):
  print(df["C" + str(x)]) ###허용x

KeyError: ignored

In [74]:
for x in range(3):
  print(df["C" + str(x)])

KeyError: ignored