In [1]:
import pandas as pd
import numpy as np

In [2]:
cctv_seoul = pd.read_csv('../csv-data/cctv_seoul.csv', encoding='utf-8')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [3]:
cctv_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [4]:
cctv_seoul.columns[0]

'기관명'

In [5]:
cctv_seoul.rename(columns={cctv_seoul.columns[0] : '구별'}, inplace=True)

In [6]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [9]:
pop_seoul = pd.read_excel('../csv-data/pop_seoul.xls')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [11]:
pop_seoul = pd.read_excel('../csv-data/pop_seoul.xls',
                                             header = 2,
                                             usecols= 'B, D, G, J, N'
                         )
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [12]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [13]:
# cctv가 제일 많이 설치되어있는 구, 제일 적게 설치되어 있는 구를 순서대로 정렬
cctv_seoul.sort_values(by='소계').head() #ascneding(오름차순, 작-->큰)

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [14]:
cctv_seoul.sort_values(by='소계').tail()

     구별    소계  2013년도 이전  2014년  2015년  2016년
20  용산구  1624       1368    218    112    398
21  은평구  1873       1138    224    278    468
14  서초구  1930       1406    157    336    398
18  양천구  2034       1843    142     30    467
0   강남구  2780       1292    430    584    932

In [15]:
##내림차순(desending) : ascending=False
cctv_seoul.sort_values(by='소계', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [17]:
cctv_seoul.sort_values(by='소계', ascending=False).tail(3)

     구별   소계  2013년도 이전  2014년  2015년  2016년
17  송파구  618        529     21     68    463
12  마포구  574        314    118    169    379
9   도봉구  485        238    159     42    386

In [ ]:
#인구수의 컬럼명을 '구별', '인구수', '한국인', '외국인', '고령자'로 변경해주세요.

In [18]:
pop_seoul.columns = ['구별', '인구수', '한국인', '외국인', '고령자']
pop_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
# pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
#                           pop_Seoul.columns[1] : '인구수',
#                           pop_Seoul.columns[2] : '한국인',
#                           pop_Seoul.columns[3] : '외국인',
#                           pop_Seoul.columns[4] : '고령자',
#                             }, inplace=True)
# pop_Seoul.head()

In [19]:
#'합계'라고 되어있는 행을 삭제
pop_seoul.drop([0], inplace=True)
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [20]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   인구수     25 non-null     float64
 2   한국인     25 non-null     float64
 3   외국인     25 non-null     float64
 4   고령자     25 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [21]:
pop_seoul['구별']

1      종로구
2       중구
3      용산구
4      성동구
5      광진구
6     동대문구
7      중랑구
8      성북구
9      강북구
10     도봉구
11     노원구
12     은평구
13    서대문구
14     마포구
15     양천구
16     강서구
17     구로구
18     금천구
19    영등포구
20     동작구
21     관악구
22     서초구
23     강남구
24     송파구
25     강동구
26     NaN
Name: 구별, dtype: object

In [24]:
len(pop_seoul['구별'].unique())

26

In [25]:
pop_seoul

      구별       인구수       한국인      외국인      고령자
1    종로구  162820.0  153589.0   9231.0  25425.0
2     중구  133240.0  124312.0   8928.0  20764.0
3    용산구  244203.0  229456.0  14747.0  36231.0
4    성동구  311244.0  303380.0   7864.0  39997.0
5    광진구  372164.0  357211.0  14953.0  42214.0
6   동대문구  369496.0  354079.0  15417.0  54173.0
7    중랑구  414503.0  409882.0   4621.0  56774.0
8    성북구  461260.0  449773.0  11487.0  64692.0
9    강북구  330192.0  326686.0   3506.0  54813.0
10   도봉구  348646.0  346629.0   2017.0  51312.0
11   노원구  569384.0  565565.0   3819.0  71941.0
12   은평구  494388.0  489943.0   4445.0  72334.0
13  서대문구  327163.0  314982.0  12181.0  48161.0
14   마포구  389649.0  378566.0  11083.0  48765.0
15   양천구  479978.0  475949.0   4029.0  52975.0
16   강서구  603772.0  597248.0   6524.0  72548.0
17   구로구  447874.0  416487.0  31387.0  56833.0
18   금천구  255082.0  236353.0  18729.0  32970.0
19  영등포구  402985.0  368072.0  34913.0  52413.0
20   동작구  412520.0  400456.0  12064.0  56013.0
21   관악구  525515.0  507203.0  18312.0  68082.0
22   서초구  450310.0  445994.0   4316.0  51733.0
23   강남구  570500.0  565550.0   4950.0  63167.0
24   송파구  667483.0  660584.0   6899.0  72506.0
25   강동구  453233.0  449019.0   4214.0  54622.0
26   NaN       NaN       NaN      NaN      NaN

In [27]:
pop_seoul.iloc[25]

구별     NaN
인구수    NaN
한국인    NaN
외국인    NaN
고령자    NaN
Name: 26, dtype: object

In [28]:
pop_seoul.isnull().sum()

구별     1
인구수    1
한국인    1
외국인    1
고령자    1
dtype: int64

In [29]:
pop_seoul['구별'].isnull().sum()

1

In [31]:
pop_seoul.drop([26], inplace=True)

In [32]:
pop_seoul.isnull().sum()

구별     0
인구수    0
한국인    0
외국인    0
고령자    0
dtype: int64

In [33]:
# 외국인비율, 고령자비율 파생변수를 2개 만들어주세요.!
pop_seoul['외국인비율'] = pop_seoul['외국인'] / pop_seoul['인구수'] * 100
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852

In [37]:
pop_seoul['고령자비율'] = pop_seoul['고령자'] / pop_seoul['인구수'] * 100
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [38]:
pop_seoul.sort_values(by='인구수', ascending=False).head() #체인식 코드

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [39]:
pop_seoul.sort_values(by='인구수', ascending=False).tail()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
4   성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
18  금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
3   용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
1   종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2    중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909

In [40]:
# 고령자비율, 외국인비율이 높은 구는 어디인가?
# 고령자비율, 외국인비율이 낮은 구는 어디인가?
pop_seoul.sort_values(by='고령자비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

In [41]:
pop_seoul.sort_values(by='고령자비율', ascending=False).tail()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
22  서초구  450310.0  445994.0   4316.0  51733.0  0.958451  11.488308
5   광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
15  양천구  479978.0  475949.0   4029.0  52975.0  0.839413  11.036964
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599

In [42]:
pop_seoul.sort_values(by='외국인비율', ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427

In [43]:
pop_seoul.sort_values(by='외국인비율', ascending=False).tail()

     구별       인구수       한국인     외국인      고령자     외국인비율      고령자비율
12  은평구  494388.0  489943.0  4445.0  72334.0  0.899091  14.631019
23  강남구  570500.0  565550.0  4950.0  63167.0  0.867660  11.072217
15  양천구  479978.0  475949.0  4029.0  52975.0  0.839413  11.036964
11  노원구  569384.0  565565.0  3819.0  71941.0  0.670725  12.634883
10  도봉구  348646.0  346629.0  2017.0  51312.0  0.578524  14.717507

In [44]:
pop_seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [45]:
#CCTV최근 증가률이 높은 곳/낮은 곳
cctv_seoul['최근증가율'] = (  cctv_seoul['2014년'] +
                                            cctv_seoul['2015년'] +
                                            cctv_seoul['2016년'] 
                                          ) / cctv_seoul['2013년도 이전'] * 100
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

In [46]:
cctv_seoul.sort_values(by = '최근증가율', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [47]:
data_result = pd.merge(cctv_seoul, pop_seoul, on = '구별')
data_result.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [48]:
data_result.drop(columns=['2013년도 이전', '2014년', '2015년', '2016년'],
                            inplace=True
                )
data_result.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [ ]:
# del data_result['2014년'] => 한 피쳐(열) 삭제시 편함.
# df.drop(columns=[컬럼명, 컬럼명]) => 여러 개의 피쳐 삭제시 편함.

In [51]:
data_result['구별'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [52]:
type(data_result['구별'].unique())

numpy.ndarray

In [53]:
#1차원 ndarray객체는 1차원 list이므로, list처럼 다루면 됨.
len(data_result['구별'].unique())

25

In [ ]:
# reset_index() : 현재 index로 잡혀져 있는 정수값이 df의 병합과 처리로 인해
#                        순서대로 들어있지 않은 경우, 
#                        다시 순서대로 인덱스 값이 정렬되도록 함.
#                        a_df_index = [1,2,3], b_df_index = [1,2,3]
#                        a_df_index + b_df_index인 결과는 [1,2,3,1,2,3] 중복된 값!
#                        reset_index()후 [0,1,2,3,4,5]
# set_index() : 특정한 unique한 값을 가지는 컬럼을 index로 설정하고자 하는 경우

In [56]:
data_result.set_index('구별', inplace=True)

In [57]:
data_result.head()

,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
구별,,,,,,,,
강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [63]:
#고령자비율, 소계의 상관관계
old = np.corrcoef(data_result['고령자비율'], data_result['소계'])
old
# => 고령자비율이 높은 지역이 cctv가 많이 설치되었다라고 일반적으로 말할 수 없음.
# => 고령자비율과 cctv설치수는 약간 음의 상관이 있긴 함.

array([[ 1.        , -0.28078554],
       [-0.28078554,  1.        ]])

In [64]:
#외국인비율, 소계의 상관관계o
out = np.corrcoef(data_result['외국인비율'], data_result['소계'])
out
# 10프로에 가까운 수치므로 외국인비율과 소계는 거의 상관이 없음.
# 외국인이 높은 구가 cctv가 많이/적게 설치되어있다라고 할 수 없음.

array([[ 1.        , -0.13607433],
       [-0.13607433,  1.        ]])

In [65]:
#인구수, 소계의 상관관계
tot_pop = np.corrcoef(data_result['인구수'], data_result['소계'])
tot_pop
# 인구수가 높은 지역이 소계가 높다라고 할 수 있는 여지는 30%정도이다.
# 상관도가 높지는 않다.

#cctv 설치와 제일 상관있는 항목은 무엇인가요?
# 고령자비율, 외국인비율, 인구수 3항목중에서는 '인구수'가 제일 cctv설치수와
# 상관이 있는 것으로 확인됨.

array([[1.        , 0.30634228],
       [0.30634228, 1.        ]])

In [66]:
type(tot_pop)

numpy.ndarray

In [ ]:
#세가지의 상관도를 그래프로 비교해보고 싶음.

In [ ]:
#최근증가율과 소계의 상관관계