In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data = {"mbti" : ['abc', 'aec'], 
                          'ab' : [0,0], 
                          'ac' : [0,0], 
                          'bc' : [0,0], 
                          'ae' : [0,0], 
                          'ec' : [0,0]} )
df

  mbti  ab  ac  bc  ae  ec
0  abc   0   0   0   0   0
1  aec   0   0   0   0   0

In [3]:
value = df.iloc[0, 0]
value

'abc'

In [4]:
df.shape[0]

2

In [5]:
for i in range(df.shape[0]):
    value = df.iloc[i, 0]
    print(value)

abc
aec

In [6]:
for i in range(df.shape[0]): #0-1
    value = df.iloc[i, 0] 
    print('i------> ', i)
    print('value-->' , value)
    max = 2
    for y in range(max + 1): #0-2
        sub = value[y:y+2]
        if y == max :
            sub = sub + value[0]
        print('sub' , sub)
        df.loc[i, '' + sub + ''] = 1
        print(df.loc[i, '' + sub + ''])
df

i------>  0
value--> abc
sub ab
1
sub bc
1
sub ca
1.0
i------>  1
value--> aec
sub ae
1
sub ec
1
sub ca
1.0

  mbti  ab  ac  bc  ae  ec   ca
0  abc   1   0   1   0   0  1.0
1  aec   0   0   0   1   1  1.0