In [3]:
def call1(a, b, c):
    print(a, b, c)

In [5]:
call1(10, 20, 30) #위치 매개변수

10 20 30

In [6]:
def call2(a, b, c=50):
    print(a, b, c)

In [7]:
call2(10, 20, 30)

10 20 30

In [8]:
call2(10, 20) #default (기본) 매개변수

10 20 50

In [9]:
# default매개변수는 반드시 뒤에다 위치시켜야 한다.
# def call3(a=10, b, c) ##오류!!
def call3(a, b=50, c=100):
     print(a, b, c)

In [11]:
call3(10)

10 50 100

In [12]:
def call4(a, b, c):
    print(a, b, c)

In [14]:
call4(a = 100, c = 200, b = 333) #키워드 파라메터, 순서상관x

100 333 200

In [15]:
## 파이썬은 오버라이딩은 지원o, 오버로딩은 지원x
## 오버라이딩(재정의) : 상속했을 때 
##                   자식클래스의 함수를 재정의하여 기능을 변경
## 오버로딩(다형성) : 하나의 이름으로 
##                   다양한 형태를 구현할 수 있는 기능
## 자바는 하나의 함수이름으로 다양한 입력값의 형태를 정의가능
## 자바는 오버로딩 가능
## public void add(int x, int y)
## public void add(int x)
## 파이썬은 오버로딩 불가능
## 입력값으로 튜플과 딕셔너리를 여러개 넣을 수 있기 때문에
## 파이썬의 함수 입력값은 0~무한대의 개수를 가지게 정의할 수 있다.
## 가변 매개변수라고 부른다.

In [23]:
def call5(*a, b):
    print(a)
    print(b)

In [22]:
def call6(*a):
    print(a)

In [ ]:
# call5((1, 2, 3), 5) 에러!

In [ ]:
# python.exe프로그램이 한줄을 읽어서 실행을 바로 해준다.
# 번역기

In [30]:
call5((1, 2, 3), b = 5) # 위치 가변 매개변수는 보통 단독으로 많이 쓰임
# 위치 가변 매개변수를 쓸 때는 
# 다른 매개변수는 키워드(파라메터명)를 반드시 써주어야 헷갈리지 않는다.

((1, 2, 3),)
5

In [25]:
call6(1, 2, 3, 4, 5) 
# 파이썬에서는 파라메터의 개수가 정확히 몇개인지 확인하려면
# 함수의 정의를 보고 확인해야한다.(shift+tab)

(1, 2, 3, 4, 5)

In [27]:
call6((1, 2, 3, 4, 5), (6, 7, 8)) #위치 가변 매개변수는 튜플의 튜플도 가능

((1, 2, 3, 4, 5), (6, 7, 8))

In [28]:
call6((1, 2, 3, 4, 5), {'name' : 'hong'}) 
#위치 가변 매개변수는 혼합된 형태도 가능
#무조건 입력값을 튜플로 묶음.

((1, 2, 3, 4, 5), {'name': 'hong'})

In [31]:
def call7(**kwargs): #키워드 가변 매개변수
    print(kwargs)

In [35]:
call7(name = 'hong', age = 100)

{'name': 'hong', 'age': 100}

In [36]:
call7(name = 'hong')

{'name': 'hong'}

In [37]:
call7(name = 'hong', age = 100, tel = '010')

{'name': 'hong', 'age': 100, 'tel': '010'}

In [38]:
def call8(*tags, title, content, **kwargs):
    print('tags>> ', tags)
    print('title>> ', title)
    print('content>> ', content)
    print('kwargs>> ', kwargs)

In [39]:
## 가변변수와 함께 쓰는 일반변수는 키워드변수로 사용해야한다.
## 변수명과 함께 써야 한다.

In [40]:
call8('바다', '휴양지','쉼', 
      title='제주도여행', 
      content='해수욕장으로 고고!', 
      location = '제주도 북동부',
      move='날아서'
     )

tags>>  ('바다', '휴양지', '쉼')
title>>  제주도여행
content>>  해수욕장으로 고고!
kwargs>>  {'location': '제주도 북동부', 'move': '날아서'}

In [41]:
## 람다함수

In [45]:
def call9(a):
    b = a - 1
    return b

In [46]:
## 일반 함수의 4대 조건
## 함수이름(입력값): call9(a)
##   함수 처리 내용(a-1)
##   함수 처리 결과 리턴값(b)

## 람다 함수의 3대 조건
## (입력값):
##   함수 처리 내용
##   함수 처리 결과 리턴값

In [ ]:
# [list comprehension] => 익명함수의 일종

In [47]:
#lambda #=> 익명함수의 일종
lambda a : a - 1

In [48]:
(lambda a : a - 1)(10)

9

In [49]:
a_fun = lambda a : a - 1

In [50]:
a_fun(10)

9

In [51]:
lambda a : True if a > 0 else Flase

In [52]:
(lambda a : True if a > 0 else Flase)(10)

True

In [53]:
true_fun = lambda a : True if a > 0 else Flase #else도 함께 써주어야 함.

In [54]:
true_fun(10)

True

In [55]:
# 입력값이 양수이면 1, 음수이면 0

In [72]:
one_fun = lambda x : 1 if x > 0 else 0

In [60]:
one_fun(100)

1

In [61]:
one_fun(-100)

0

In [64]:
one_fun2 = lambda x : '양수' if x > 0 else '음수'

In [65]:
one_fun2(100)

'양수'

In [66]:
## one_fun, one_fun2를 일반함수로 변경해보세요.

In [70]:
def one_fun11(x):
    if x > 0:
        return 1
    else:
        return 0

In [69]:
def one_fun22(x):
    if x > 0:
        return "양수"
    else:
        return "음수"

In [73]:
result = one_fun2(100)
result

'양수'

In [ ]:
# 입력값을 2개 넣어, 더해보세요. (10, 20)

In [ ]:
# 입력값이 2개의 리스트가 되도록 해보세요.

In [56]:
ab_fun = lambda a, b : a + b

In [74]:
# def ab_fun(a, b):
#       return  a+ b

In [76]:
result2 = ab_fun(10, 20)
result2

30

In [58]:
a_list = [1,2,3]
b_list = [4,5,6]
ab_fun(a_list, b_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 데이터분석에서 있어서 핵심은 df
# 람다를 df를 다룰 때 어떻게 사용해야하는가?

In [2]:
# 람다함수를 사용하는 이유
# 1. 메모리에 함수의 원형이 저장되지 않음.
# 2. 일반 함수보다 쉽고 간단

In [3]:
lambda x : x + 1 #lambda 입력파라메터리스트 : 처리내용(반환)

In [4]:
(lambda x : x + 1 )(10)

11

In [5]:
add = lambda x : x + 1

In [7]:
add(100), add(111)

(101, 112)

In [16]:
list_data = [1,2,3]

In [17]:
map(add, list_data) ##결과가 map객체, 사용할 수 없는 형태
## map함수는 많의 양의 데이터(예, 리스트)를 
## 하나씩 꺼내서 함수를 map시켜 실행시켜준다.
## map함수의 결과는 무조건 map객체이므로,
## map함수의 결과를 사용하고자 하는 경우, list로 캐스팅 시켜준다.

In [11]:
list(map(add, list_data)) ##list <--- map객체

[2, 3, 4]

In [15]:
# 입력값이 양수이면, "양수", 음수이면 "음수" 람다함수를 만들어보세요.
list_data2 = [10, 20, -30, -40, 50]

In [14]:
positive_negative = lambda x: '양수' if x > 0 else '음수'

In [18]:
list(map(positive_negative, list_data2))

['양수', '양수', '음수', '음수', '양수']

In [19]:
result_pn = list(map(positive_negative, list_data2))
result_pn

['양수', '양수', '음수', '음수', '양수']

In [20]:
import pandas as pd

In [21]:
import numpy as np

In [37]:
df1 = pd.DataFrame({
    'name' : ['홍길동', '김길동', '홍순신', '정길동', '송사임'],
    'age' : [100, 200, 300, 150, 250]
})
df1

  name  age
0  홍길동  100
1  김길동  200
2  홍순신  300
3  정길동  150
4  송사임  250

In [38]:
df1['result'] = result_pn

In [39]:
df1

  name  age result
0  홍길동  100     양수
1  김길동  200     양수
2  홍순신  300     음수
3  정길동  150     음수
4  송사임  250     양수

In [40]:
age_lambda = lambda x : '고령' if x >= 200 else '보통'

In [41]:
list(map(age_lambda, df1['age'])) ## map(함수, 리스트형태의 자료구조)

['보통', '고령', '고령', '보통', '고령']

In [42]:
age_ersult = list(map(age_lambda, df1['age']))

In [43]:
df1['age_result'] = age_ersult
df1

  name  age result age_result
0  홍길동  100     양수         보통
1  김길동  200     양수         고령
2  홍순신  300     음수         고령
3  정길동  150     음수         보통
4  송사임  250     양수         고령

In [44]:
## 람다함수를 만들어보세요.
## name에 '홍'이라는 글자를 포함하고 있으면 1, 아니면 0
## 결과로 name_result 파생변수를 만들어보세요.

In [45]:
name_lambda = lambda x: 1 if '홍' in x else 0

In [50]:
'홍' in '홍길동' #in 문자열, in의 결과는 Bool

True

In [51]:
1 in [1,2,3] #in 리스트, 리스트내에 1을 포함하는지 여부 확인

True

In [52]:
1 not in [1, 2, 3]

False

In [54]:
### 참석확인하려고 하는 이름이 '홍길동'
### 참석자리스트가 
### 포함여부 확인용 ==> in, not in

In [56]:
'홍길동' in ['김길동', '박길동','송길동']

False

In [58]:
name_list = ['김길동', '박길동','송길동']

In [62]:
name = input('확인하고 싶은 이름을 입력하세요.')

확인하고 싶은 이름을 입력하세요.정길동

In [64]:
if name in name_list:
    print('참석자 명단에 있습니다.')
else:
    print('참석자 명단에 없습니다')

참석자 명단에 없습니다

In [65]:
'홍길동'.find('홍')

0

In [66]:
'홍길동'.find('정')

-1

In [ ]:
## 일반 함수와 람다함수로 이름을 넣어서 판단하는 처리를 구현해보세요.

In [68]:
def general_func1(x):
    if x in name_list:
        print('참석자 명단에 있습니다.')
    else:
        print('참석자 명단에 없습니다')

In [69]:
general_func1('홍길동')

참석자 명단에 없습니다

In [70]:
on_lambda = lambda x : '참석자 명단에 있습니다. ' if x in name_list else '참석자 명단에 없습니다.'

In [71]:
on_lambda('홍길동')

'참석자 명단에 없습니다.'

In [48]:
name_result = list(map(name_lambda, df1['name']))
name_result

[1, 0, 1, 0, 0]

In [49]:
df1['name_result'] = name_result
df1

  name  age result age_result  name_result
0  홍길동  100     양수         보통            1
1  김길동  200     양수         고령            0
2  홍순신  300     음수         고령            1
3  정길동  150     음수         보통            0
4  송사임  250     양수         고령            0