In [3]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20200625', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), 
                  index=dates, 
                  columns=['A','B','C','D'])

In [5]:
df

                   A         B         C         D
2020-06-25 -0.178358 -0.000614 -1.549596  0.004689
2020-06-26 -1.654163  1.441047 -1.402851  0.650652
2020-06-27  0.060079 -0.870540  1.543165  0.349406
2020-06-28  0.559574  0.569531  0.046158 -0.534061
2020-06-29  0.554191  1.445515  0.049196  0.567235
2020-06-30  0.309619 -0.988008 -0.754965  0.601380

In [6]:
df2 = df.copy()
df2
# df는 기본적으로 행, 열의 위치값을 가지고 있음.
# "기본적으로 가지고 있는 위치값(index)"를 이용해서 조작하는 경우
# iloc[]를 사용!
# 일부 그래프나 분석시 특정항목을 index항목으로 수동으로 설정해야하는
# 경우가 있음.
# 특정항목을 index항목으로 설정가능한 경우는 
# "unique/not null인 값을 가지는 항목"만
# 설정 가능! user_id, bbs_id pk조건과 일치!

                   A         B         C         D
2020-06-25 -0.178358 -0.000614 -1.549596  0.004689
2020-06-26 -1.654163  1.441047 -1.402851  0.650652
2020-06-27  0.060079 -0.870540  1.543165  0.349406
2020-06-28  0.559574  0.569531  0.046158 -0.534061
2020-06-29  0.554191  1.445515  0.049196  0.567235
2020-06-30  0.309619 -0.988008 -0.754965  0.601380

In [9]:
df2.reset_index(inplace=True)

In [10]:
df2

       index         A         B         C         D
0 2020-06-25 -0.178358 -0.000614 -1.549596  0.004689
1 2020-06-26 -1.654163  1.441047 -1.402851  0.650652
2 2020-06-27  0.060079 -0.870540  1.543165  0.349406
3 2020-06-28  0.559574  0.569531  0.046158 -0.534061
4 2020-06-29  0.554191  1.445515  0.049196  0.567235
5 2020-06-30  0.309619 -0.988008 -0.754965  0.601380

In [11]:
df2.set_index('index', inplace=True)

In [12]:
df2

                   A         B         C         D
index
2020-06-25 -0.178358 -0.000614 -1.549596  0.004689
2020-06-26 -1.654163  1.441047 -1.402851  0.650652
2020-06-27  0.060079 -0.870540  1.543165  0.349406
2020-06-28  0.559574  0.569531  0.046158 -0.534061
2020-06-29  0.554191  1.445515  0.049196  0.567235
2020-06-30  0.309619 -0.988008 -0.754965  0.601380

In [13]:
df2['E'] = df2['A'] + 1 #브로드캐스팅!

In [14]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [15]:
df2['E']

index
2020-06-25    0.821642
2020-06-26   -0.654163
2020-06-27    1.060079
2020-06-28    1.559574
2020-06-29    1.554191
2020-06-30    1.309619
Name: E, dtype: float64

In [16]:
df2['F'] = 0

In [17]:
df2['F']

index
2020-06-25    0
2020-06-26    0
2020-06-27    0
2020-06-28    0
2020-06-29    0
2020-06-30    0
Name: F, dtype: int64

In [18]:
df2['G'] = range(0, 6)
df2['G']

index
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int64

In [19]:
# 인덱스를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면
# 먼저 reset_index()하고 나서 해야함.
# reset을 하지 않는 경우 기존 index항목은 사라짐.
df2.set_index('G', inplace=True)

In [20]:
df2

          A         B         C         D         E  F
G
0 -0.178358 -0.000614 -1.549596  0.004689  0.821642  0
1 -1.654163  1.441047 -1.402851  0.650652 -0.654163  0
2  0.060079 -0.870540  1.543165  0.349406  1.060079  0
3  0.559574  0.569531  0.046158 -0.534061  1.559574  0
4  0.554191  1.445515  0.049196  0.567235  1.554191  0
5  0.309619 -0.988008 -0.754965  0.601380  1.309619  0

In [21]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [23]:
df3 = df.copy()
df3

                   A         B         C         D
2020-06-25 -0.178358 -0.000614 -1.549596  0.004689
2020-06-26 -1.654163  1.441047 -1.402851  0.650652
2020-06-27  0.060079 -0.870540  1.543165  0.349406
2020-06-28  0.559574  0.569531  0.046158 -0.534061
2020-06-29  0.554191  1.445515  0.049196  0.567235
2020-06-30  0.309619 -0.988008 -0.754965  0.601380

In [32]:
# E항목을 파생변수로 만드세요. 1~10범위 값
data = range(1,11) # 1~10
data2 = []
for i in range(6):
    data2.append(random.choice(data))
print(data2)
df3['E'] = data2 #[1, 3, 5, 6, 7, 2]
df3['E']

[9, 9, 2, 10, 10, 10]

2020-06-25     9
2020-06-26     9
2020-06-27     2
2020-06-28    10
2020-06-29    10
2020-06-30    10
Freq: D, Name: E, dtype: int64

In [33]:
# F항목을 파생변수로 만드세요. A열과 C열의 합
df3['F'] = df3['A'] + df3['B']
df3['F']

2020-06-25   -0.178973
2020-06-26   -0.213116
2020-06-27   -0.810461
2020-06-28    1.129106
2020-06-29    1.999707
2020-06-30   -0.678389
Freq: D, Name: F, dtype: float64

In [34]:
# H항목을 파생변수로 만드세요. 1로 설정
df3['H'] = 1
df3['H']

2020-06-25    1
2020-06-26    1
2020-06-27    1
2020-06-28    1
2020-06-29    1
2020-06-30    1
Freq: D, Name: H, dtype: int64

In [ ]:
# Z항목을 파생변수로 만드세요. 1~9까지의 랜덤한 값으로 설정

In [26]:
import random

In [27]:
df3['Z'] = random.randint(1, 10)
df3['Z']

2020-06-25    2
2020-06-26    2
2020-06-27    2
2020-06-28    2
2020-06-29    2
2020-06-30    2
Freq: D, Name: Z, dtype: int64

In [35]:
data2 = []
for _ in range(6):
    data2.append(random.randint(1, 10))
data2

[3, 2, 1, 4, 4, 6]

In [36]:
df3['Z'] = data2
df3['Z']

2020-06-25    3
2020-06-26    2
2020-06-27    1
2020-06-28    4
2020-06-29    4
2020-06-30    6
Freq: D, Name: Z, dtype: int64

In [37]:
# data2 = []
# for _ in range(6):
#     data2.append(random.randint(1, 10))
# data2

df3['Z2'] = [random.randint(1, 10) for _ in range(6)]
df3['Z2']

2020-06-25    1
2020-06-26    7
2020-06-27    1
2020-06-28    2
2020-06-29    8
2020-06-30    3
Freq: D, Name: Z2, dtype: int64

In [38]:
#리스트 내포: 결과가 항상 list
#list comprehension
[random.randint(1, 10) for _ in range(6)]

[4, 6, 5, 3, 10, 9]

In [39]:
range(10)

range(0, 10)

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[1, 2, 3,4, 5, 6, 7, 8, 9, 10]

In [42]:
#[ '반복하면서 한번에 처리할 내용' for i in range(10)]
[i + 1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#[ '반복하면서 한번에 처리할 내용' for i in range(10) if i % 2 == 0]
[i + 1 for i in range(10) if i % 2 == 0]

# data3 = []
# for i in range(10):
#     if i % 2 == 0:
#         data3.append(i)
# data3

[1, 3, 5, 7, 9]

In [46]:
name = ['홍길동','김길동','송길동']
for x in name:
    print(x)

홍길동
김길동
송길동

In [ ]:
# name에 들어있는 각각의 모든 데이터에 뒤에 "님"글자를 붙여주세요.!

In [ ]:
# name에 들어있는 각각의 모든 데이터에 앞에 "신입"글자를 붙여주세요!

In [ ]:
a_list = range(1, 100, 2)

In [ ]:
# a_list에 몇 개가 들어있는지 세어보세요.

In [ ]:
# a_list의 각각의 모든 데이터에 0.1을 곱