In [17]:
from functools import reduce

In [5]:
age_list = [10, 20, 30] # 1차원(벡터)--> 0차원(스칼라, 변수1개)

In [15]:
age_list2 = [[10, 20, 30], [100, 200, 300]] # 2차원(matrix)--> 1차원(vector, list)

In [18]:
# 0차원으로 
reduce(lambda total, list1 : total + list1, age_list, 0)
# total, list1 : paramter이름, 아무거나 써도 됨.
# total + list1 : 스칼라로 합할 연산 기준
# age_list : 실제 입력값으로 사용할 1차원 리스트
# 0 : 0차원 스칼라
# total : 스칼라값이 저장될 하나의 변수

60

In [16]:
# 1차원으로
reduce(lambda total, list2 : total + list2, age_list2, [])
# total, list2 : paramter이름, 아무거나 써도 됨.
# total + list2 : 1차원 리스트(벡터)로 합할 연산 기준
# age_list2 : 실제 입력값으로 사용할 2차원 리스트
# [] : 1차원 리스트 
# total : 1차원리스트가 저장될 리스트

[10, 20, 30, 100, 200, 300]

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'a' : [1,2,3,4,5], 'b' : [10, 20, 30, 40, 50], 'c' : [100, 200, 300, 400, 500]})
df

   a   b    c
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [18]:
df2 = df.iloc[:, 0 : 3]
df2

   a   b    c
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [29]:
def fun1(s):
    return sum(s)

In [28]:
df[df[['a', 'b', 'c']].apply(lambda series : series.sum(), axis=1) == 111]

   a   b    c
0  1  10  100

In [30]:
df[df[['a', 'b', 'c']].apply(fun1, axis=1) == 111]

   a   b    c
0  1  10  100