In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('./data_list/ratings_train.txt', encoding='utf8', sep='\t')
train_df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [3]:
train_df['label'].value_counts()

0    75173
1    74827
Name: label, dtype: int64

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [5]:
train_df = train_df[train_df['document'].notnull()]
train_df[:5]

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [8]:
import re
import warnings
warnings.filterwarnings(action='ignore')

In [9]:
train_df['document'] = train_df['document'].apply(lambda x: re.sub(r'[^ ㄱ-ㅣ가-힣]+', '', x))
train_df['document'][:5]

0                                    아 더빙 진짜 짜증나네요 목소리
1                           흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나
2                                    너무재밓었다그래서보는것을추천한다
3                            교도소 이야기구먼 솔직히 재미는 없다평점 조정
4    사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...
Name: document, dtype: object

In [15]:
test_df = pd.read_csv('./data_list/ratings_test.txt', encoding='utf8', sep='\t')
test_df

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [16]:
test_df['label'].value_counts()

1    25173
0    24827
Name: label, dtype: int64

In [18]:
test_df = test_df[test_df['document'].notnull()]
test_df[:5]

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [19]:
test_df['document'] = test_df['document'].apply(lambda x: re.sub(r'[^ ㄱ-ㅣ가-힣]+', '', x))
test_df['document'][:5]

0                                          굳 ㅋ
1
2             뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아
3                    지루하지는 않은데 완전 막장임 돈주고 보기에는
4    만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠
Name: document, dtype: object

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from konlpy.tag import Okt

In [22]:
okt = Okt()

In [23]:
tfidf = TfidfVectorizer(tokenizer= okt.morphs , 
                        ngram_range=(1, 2), 
                        min_df = 3, 
                        max_df = 0.9)
tfidf
# max_df : 정수 또는 [0.0, 1.0] 사이의 실수. 디폴트 1
#  최대 몇개 문서에 걸쳐 포함된 단어까지 단어 꾸러미에 담아 사용할 것인지
# min_df : 정수 또는 [0.0, 1.0] 사이의 실수. 디폴트 1
#  최소 몇개 문서에 걸쳐 포함된 단어를 단어 꾸러미에 담아 사용할 것인지
## ngram-range(1,2): 한글자가 따로 나오거나, 두 글자가 같이 나오는 빈도수의 matrix

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x7fd74baca290>>)

In [24]:
tfidf.fit(train_df['document'])
### 사전만들때나, 스케일링시 fit()시킬 때, 반드시  train데이터를 사용한다.!
### test데이터만을 가지고 fit()시키지 않는다.!

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x7fd74baca290>>)

In [25]:
train_tfidf_df = tfidf.transform(train_df['document'])
train_tfidf_df 
##df의 컬럼으로 들어갈 수 있도록 one-hot encoding하는 것.(DTM만드는 중)

<149995x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 2703859 stored elements in Compressed Sparse Row format>

In [26]:
test_tfidf_df = tfidf.transform(test_df['document'])
test_tfidf_df
# sparse matrix(희소행렬, DTM)

<49997x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 871912 stored elements in Compressed Sparse Row format>

In [28]:
test_tfidf_df.toarray() #2nd array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [29]:
from sklearn.linear_model import LogisticRegression

SA_lr = LogisticRegression(random_state = 0)

In [30]:
SA_lr.fit(train_tfidf_df, train_df['label'])

LogisticRegression(random_state=0)

In [31]:
test_predict = SA_lr.predict(test_tfidf_df)

In [32]:
from sklearn.metrics import accuracy_score

print('감성 분석 정확도 : ', round(accuracy_score(test_df['label'], test_predict), 3))

감성 분석 정확도 :  0.852

In [33]:
st = "웃자 ^o^ 오늘은 좋은 날이 될 것 같은 예감100%! ^^*"

In [34]:
st2 = re.sub(r'[^ ㄱ-ㅎ|가-힣]+', "", st)
st2

'웃자  오늘은 좋은 날이 될 것 같은 예감 '

In [35]:
st_tfidf_df = tfidf.transform([st2])
st_tfidf_df

<1x115612 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [37]:
st2_predict = SA_lr.predict(st_tfidf_df)
st2_predict, st2_predict[0]

(array([1]), 1)

In [38]:
if(st2_predict[0] == 0):
    print(st2, '==> 부정 감정')
else:
    print(st2, '==> 긍정 감정')

웃자  오늘은 좋은 날이 될 것 같은 예감  ==> 긍정 감정

In [40]:
st3 = "짱나! 진짜야"

In [42]:
st4 = re.sub(r'[^ ㄱ-ㅎ|가-힣]+', "", st3)
st4

'짱나 진짜야'

In [44]:
# 1) 입력 텍스트의 피처 벡터화
st4_tfidf = tfidf.transform([st4])

# 2) 최적 감성분석 모델에 적용하여 감성 분석 평가
st4_predict2 = SA_lr.predict(st4_tfidf)

In [45]:
st4_predict2[0]

0

In [46]:
if(st4_predict2[0] == 0):
    print(st3, '==> 부정 감정')
else:
    print(st3, '==> 긍정 감정')

짱나! 진짜야 ==> 부정 감정

In [54]:
import pickle
import joblib

In [50]:
tfidf_fit = tfidf.fit(train_df['document'])
tfidf_fit

TfidfVectorizer(max_df=0.9, min_df=3, ngram_range=(1, 2),
                tokenizer=<bound method Okt.morphs of <konlpy.tag._okt.Okt object at 0x7fd74baca290>>)

In [58]:
saved_model = pickle.dumps(SA_lr)

In [59]:
lr_from_pickle = pickle.loads(saved_model)
lr_from_pickle.predict(st_tfidf_df[0])

array([1])

In [60]:
joblib.dump(SA_lr, 'movie_SA_lr.pkl')

['movie_SA_lr.pkl']

In [64]:
lr_from_joblib = joblib.load('movie_SA_lr.pkl')
lr_from_joblib

LogisticRegression(random_state=0)

In [65]:
lr_from_joblib.predict(st_tfidf_df[0])

array([1])